
@media screen and (max-width: 600px) {
  .cock {
    /* font-size:'32px'; */
    color:green;
  }
}
.cock {
  font-size:'72px';
  color:yellow;
}
.w-100 {
  width: 100vw;
}
.w-90 {
  width: 90vw;
}
.w-80 {
  width: 80vw;
}
.w-70 {
  width: 70vw;
}
.w-60 {
  width: 60vw;
}
.w-50 {
  width: 50vw;
}
.w-40 {
  width: 40vw;
}
.w-30 {
  width: 30vw;
}
.w-20 {
  width:20vw ;
}
.w-10 {
  width:10vw ;
}

.h-100 {
  height: 100vh ;
}
.h-90 {
  height: 90vh ;
}
.h-80 {
  height: 80vh;
}
.h-70 {
  height: 70vh;
}
.h-60 {
  height: 60vh;
}
.h-50 {
  height: 50vh;
}
.h-40 {
  height: 40vh;
}
.h-30 {
  height: 30vh;
}
.h-20 {
  height: 20vh;
}
.h-10 {
  height: 10vh;
}
.fl-l {
  float: left;
}
.fl-r {
  float:right;
}
.block {
  display:block;
}
.inline {
  display:inline;
}
.check {
  background:red;
}
.text-center {
  text-align: center;
}